p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
kbd {
  display: inline-block;
  padding: .2rem .4rem;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: .2rem;
  box-shadow: inset 0 -1px 0 #777;
}
